{% extends 'base.html' %}
{% block content %}
{{super()}}
<p><h1>Чат с {{companion.first_name}}</h1>
<div id="messages-container">
{% for msg in messages %}
<p><img style="max-width: 100px; max-height: 100px;" src="{{url_for('user.user_avatar', id = msg.id_sender)}}">  {{msg.first_name}} {{msg.last_name}} - {{msg.message}} - {{msg.datetime}}
{% endfor %}
</div>
{% if companion.deleted =='false' %}
<form action="{{url_for('messenger.chat', id = companion.id)}}" method = 'post'>
    <input type="text" name="message">
    <input type="submit">
</form>
{% endif %}
{% endblock content %}
{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
    window.CURRENT_USER_ID = "{{ current_user.get_id() }}";
    window.COMPANION_ID = "{{ companion.id }}";
</script>
<script src="{{url_for('.static', filename='js/script.js')}}"></script>
{% endblock scripts %}